/* Alegreya Sans SC */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    /* font-family: 'Alegreya Sans SC', sans-serif;        */
}

body {
    background: #e5e7ec; 
    font-family: 'Alegreya Sans SC', sans-serif;       
}

p{
    margin: 0;
    padding: 0;
}

.panel {
    padding: 2%;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 7px;
}

form {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif!important;
}

.padding {
    padding:10px 25px;
}

.grid-margin {
    margin-bottom: 2rem;
}

.no-padding-h{
    padding-left: 0;
    padding-right: 0;
}

td:last-child .btn {
    width: 120px;
    margin: 5px;
}


.btn{
    border-radius: 2px;
}

.btn-warning{
    color: white;
}

.btn-warning:hover{
    color: white;
    background-color: rgb(243, 168, 30);
}


.btn-s{
    background-color: rgba(29, 201, 184, 0.212);
    color: #1dc9b7;
    cursor: text!important;
}

/* .btn-s:hover{
    background-color: rgb(67, 212, 157);
    color: white;
} */

.btn-p{
    background-color: rgba(44, 117, 244, 0.151);
    color: #2c77f4;
}

.btn-p:hover{
    background-color: #2c75f4;
    color: white;
}

.btn-d{
    background-color: rgba(244, 44, 44, 0.151);
    color: #f42c2c;
}

.btn-d:hover{
    background-color: #f42c2c;
    color: white;
}

.btn-w{
    background-color: rgba(244, 224, 44, 0.45);
    color: #8c8c8c;
}

.btn-w:hover{
    background-color: #f5bf0e;
    color: white;
}

.btn-primary{
    background-color: #1dc9b7;
    border-color: #1dc9b7;    
}

.tippy-tooltip{
    /* background-color: #373a3d;  */
}

.tippy-content{
    color:#ebe8e8;
    /* font-family: 'Roboto', sans-serif;   */
}

td{
    vertical-align: middle!important;
}


/* table */
.table{    
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif!important;
}

.td-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.students-header{
    display: flex;
    justify-content: space-between;
}


.students-header-buttons {
    display: inherit;
}

.students-header-buttons  > * {
    margin-left: 10px;
}

.students-header-buttons input {
    width: 100%;
}

.students-header-buttons span {
    margin-left: 0;
}


.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 0;
    background-color: #5c84a2;
    color: white;
    text-align: center;
    margin-left: 8px;
    transition: all 0.3s ease;
}

.box-icon i{
    font-size: 1.1em;
}

.box-icon:hover{
    cursor: pointer;
    color: white;
}

.box-icon:nth-child(1):hover{
    background-color: #5dc1df;
}

.box-icon:nth-child(2):hover{
    background-color: #5dc79b;
}

.box-icon:nth-child(3):hover{
    background-color: #df5d5d;
}

.box-icon:nth-child(4):hover{
    background-color: #fdd90b;
    color: #6b6b6b;
}

.pay-box{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    width: 120px;
    padding: 1%;
        
    border-radius: 4px;
    color: #ffffff;
    transition: 0.2s all ease-in;
    cursor: text!important;
}

.pay-box i{
    margin-right: 8px;
    color: #5c5c5c;
}

.pay-success{
    background-color:  #07cdae;
    /* background: linear-gradient(to right, #84d9d2, #07cdae);         */
}

.pay-success-profile {
    background-color: rgba(29, 201, 184, 0.404);
    color: #f7f8f8;
}

.pay-danger{
    background-color:  #fe7096;
    /* background: linear-gradient(to right, #fe7096, #fe7096); */
}

.pay-warning{
    background-color:  #ffcf32;
    /* background: linear-gradient(to right, #f6e384, #ffd500); */
}

/* table */

#content {
    width: 100%;
    transition: all 0.3s ease;
    padding-top: 65px;
    padding-left: 250px;
}

.content-header {    
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
    
    width: 100%;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #47474733;
    margin-bottom: 0;
    padding: 0 25px;
    color: #5f5f5f;
    z-index: 900;
}

.content-header .nav-l{
    padding-left: 250px;
    transition: all 0.2s ease;
}

.content-header ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;    
}

.content-header ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    width: 35px;
    height: 35px;
    margin: 0 5px;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
}

.content-header ul a{
    transition: all 0.2s ease;
}

.content-header ul a:hover{
    color: #030303;
    cursor: pointer;
    transform: scale(1.1);
}

.content-header ul p.user-name{
    margin: 0 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.content-header ul a span.badge{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;    
    top: -5px;
    right: -5px;

    width: 20px;
    height: 20px;    
    background-color: #e03056;    
    border-radius: 50%;

    padding: 0;
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: 100;
    font-family: 'Roboto', 'saens-serif';
}

.content-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/******************************************************************************************************************************/
/********************************************************** Sidebar ***********************************************************/
/******************************************************************************************************************************/

.sidebar {
    position: fixed;
    z-index: 999;
    min-width: 80px;
    width: 250px;
    height: 100vh;
    background: #ffffff;
    transition: 0.3s all ease;
    border-right: 1px solid #47474733;
}

#sidebar.active {
    width: 80px;
}

.sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar .nav .nav-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 65px;
    color: #292929;
    margin-bottom: 30px;
}

.sidebar .nav .nav-profile .user-wrapper {
    display: inline-block;
    text-align: center;
}

.sidebar .nav .nav-profile .user-wrapper .profile-image {
    width: 50px;
    height: 56px;
    margin: 0 auto;
    margin-top: 30px;
}

.sidebar .nav .nav-profile .user-wrapper .profile-image img{
    border-radius: 100%;
    max-width: 100%;
}

.sidebar .nav .nav-profile .user-wrapper .text-wrapper p {
    padding: 0;
    margin: 0;
}

dl, ol, ul {
    padding-left: 1rem;
    font-size: 1.1em;
}

.nav .nav-item, .navbar-nav .nav-item {
    transition: all 0.3 ease;
    height: 60px;
}

.nav-item.here {
    position: relative;
    background-color: #3a3939;
}

.nav-item.here a, .nav-item.here i {
    color: #e4e2e2!important;
}

.nav-item.here a::after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 15px 30px 0;
    border-color: transparent #e0e0e0  transparent transparent !important;
    z-index: 1000;
}

.nav .nav-item:hover {
    background-color: #ebe9e9;
    border: 1px solid #dbdada;

}
.nav .nav-item a.nav-link:hover{
    color: #0e0e0e;
}

.nav-item.here:hover {
    position: relative;
    background-color: #302f2f;
    border: none;
}

.nav-item.here a:hover, .nav-item.here i:hover {
    color: #e4e2e2!important;
}

.sidebar .nav .nav-item .nav-link {
    display: flex;    
    align-items: center;
    padding: 16px 30px;
    white-space: nowrap;
    color: #4d4d4d;
}

.sidebar .nav .nav-item .nav-link .menu-icon {
    margin-right: 2.2rem;
    width: 15px;
    font-size: 1.1em;
    color: #979797;
}

.sidebar .nav .nav-item .nav-link .menu-arrow {
    margin-left: auto;
    margin-right: 0;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.sidebar .nav .nav-item .nav-link .menu-arrow:before {
    font-size: 1.3em;
    line-height: 1;
    font-style: normal;
    vertical-align: middle;
    color: rgba(74, 74, 74, 0.5);
}

.sidebar .nav .nav-item .collapse.in, .sidebar .nav .nav-item .collapsing {
    background: #fafbfc;
}


.content-wrapper {
    position: relative;
    margin: 10px;
}




/* Box stats */
.bow-stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
    background-color: #ececec;
    border-radius: 8px;
}

.bow-stats .stat-box {
    display: flex;
    align-items: center;
    padding: 1%;
    margin: 10px 0;
    color: #1a589e;
}

.bow-stats .stat-box img {
    width: 60px;
    height: 60px;
}

.bow-stats .stat-box .stat-det{
    padding: 1%;
    color: #414040;
    text-align: center;
    font-size: 1.6em;
}


/* // Box stats */


/* Payment modal */
.modal-footer {
    justify-content: center;
}




@media (min-width: 768px) {
    .content-header .nav-l {
        padding-left: 250px;
    }
        
    
}

@media (max-width: 768px) {
    #box-img{
        justify-content: center;
    }
    #sidebar {
        width: 80px;
    }

    #sidebar.active{
        margin-left: -250px;
    }

    #content {
        width: 100%;
    }
    
    #sidebarCollapse span {
        display: none;
    }

    .content-header .nav-l {
        padding-left: 80px;
    }
}
